# Visual Studio files
*.user
*.suo
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
x64/
build/
[Bb]in/
[Oo]bj/

# .NET Core and .NET Framework artifacts
*.dll
*.exe
*.pdb
*.cache
*.log
*.vspscc
*.vssscc
/.vs/
/_/
/appsettings.json
*.lock.json
*.config

# JetBrains Rider files
/.idea/
*.csproj.user
*.sln.iml
*.sln.DotSettings.user
*.ReSharper
*.resharper.user